<% include partials/header %>

<h1>Feeds</h1>

<a href="/logout">Logout</a>

<form action="/feeds" method="POST" id="new-item-form">
    <input type="text" name="title" placeholder="title">
    <!-- Using links until image upload is implemented later -->
    <input type="text" name="image" placeholder="image">
    <input type="number" name="score" placeholder="score">
    <input type="date" name="date">
    <input type="text" name="description" placeholder="description">
    <!-- <textarea name="description" form="new-item-form">Description</textarea> -->
    <button id="feed-butt">Submit</button>
</form>

<div class="feed">
    <% posts.forEach(((post) => { %>
        <div class="item">
            <div class="title">
                <h2><%= post.val().title %></h2>
            </div>

            <!-- Will eventually show image, but only text for now -->
            <div class="image">
                <p><%= post.val().imgUrl %></p>
                <!-- <img src="<%= post.val().imgUrl %>" alt="Alt"> -->
            </div>

            <div class="date">
                <p><%= post.val().date %></p>
            </div>

            <div class="score">
                <p><%= post.val().score %></p>
            </div>

            <div class="description">
                <p><%= post.val().description %></p>
            </div>
        </div>
    <% })) %>
</div>

<% include partials/footer %>