<% include partials/header %>

<h1>Feeds</h1>

<div id="add-form">
    <form action="/feeds" method="POST">
        <input type="text" name="title" placeholder="title">
        <!-- Using links until image upload is implemented later -->
        <input type="text" name="image" placeholder="image">
        <input type="text" name="description" placeholder="description">
        <input type="number" name="score" placeholder="score">
        <input type="date" name="date">
        <!-- <input type="submit" value="Submit" id="submit"> -->
        <button id="feed-butt" onclick="addNewItem">Submit</button>
    </form>
</div>

<!-- <div class="all"> -->
    <% posts.forEach(((post) => { %>
        <div class="item">
            <div class="title">
                <h2><%= post.val().title %></h2>
            </div>

            <!-- Will eventually show image, but only text for now -->
            <div class="image">
                <p><%= post.val().imgUrl %></p>
            </div>

            <div class="date">
                <p><%= post.val().date %></p>
            </div>

            <div class="description">
                <p><%= post.val().description %></p>
            </div>

            <div class="score">
                <p><%= post.val().score %></p>
            </div>
        </div>
    <% })) %>

<% include partials/footer %>