<% include partials/header %>
<div id="feeds-page">
<nav>
    <h1>Feeds</h1>

    <a href="/logout" id="logout">Logout</a>
</nav>

<main>
    <form action="/feeds" method="POST" class="new-item-form" id="new-item-form">
        <input type="text" name="title" placeholder="Title" class="field">
        <!-- Using links until image upload is implemented later -->
        <input type="text" name="image" placeholder="Image" class="field">
        <input type="number" name="score" placeholder="Score" class="field">
        <input type="date" name="date" class="field">
        <textarea name="description" form="new-item-form" class="field">Description</textarea>
        <button id="feed-butt">Submit</button>
    </form>
    
    <div class="feed">
        <% posts.forEach((post) => { %>
            <div class="item">
                <div class="title">
                    <h2><%= post.val().title %></h2>
                </div>
    
                <!-- Will eventually show image, but only text for now -->
                <div class="image">
                    <p><%= post.val().imgUrl %></p>
                    <!-- <img src="<%= post.val().imgUrl %>" alt="Alt"> -->
                </div>
    
                <div class="date">
                    <p><%= post.val().date %></p>
                </div>
    
                <div class="score">
                    <p><%= post.val().score %></p>
                </div>
    
                <div class="description">
                    <p><%= post.val().description %></p>
                </div>

                <div class="other-butts">
                    <button id="edit-butt">Edit</button>
                    <form action="/feeds/<%= post.key %>?_method=DELETE" method="POST">
                        <button id="delete-butt">Delete</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>
</main>
</div>

<% include partials/footer %>